:root{
    --blue-color: rgb(34, 58, 102);
    
}
:root{
    --grey-color:#6F8BA4;
}

.topbar{
    background-color: var(--blue-color);
}

.call{
    text-align: center;
}
.fs-7{
    font-size: 14px;
}

.mt-7{
    margin-top: 70px;
}
.fs-9{
    font-size: 80px;
}
.mt-10{
    margin-top: 220px;
}
.py-8{
    padding: 50px 0px;
}
.mb-6{
    margin-bottom: 40px;
}
.fs-00{
font-size: 60px;
}
#hero{  background-image: url("../imgs/slider-bg-1.jpg");
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
z-index: 1;
}
   
.divider{
    width: 50px;
    height: 5px;
    background-color: red;
}
#hero .text-color{
    color: #6F8BA4;
    letter-spacing: 2px;
    font-size: 18px;
}
#hero .first-heading{
    color: var(--blue-color);
}
#hero .paragraph-color{
        color:var(--grey-color);
        font-size: 17px;

}
.hero-btn{
    background-color: #e12454;
}

/*  section hero end */


/* section shedule start */

 #shedule .shedule-btn{
    background-color: var(--blue-color);
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
 }

#shedule .icon-nurse{
    color: var(--blue-color);
}
#shedule .paragraph-color{
    color: var(--grey-color );
}
#shedule .heading-color{
    color: var(--blue-color);
}


.card1{
    margin-top: -150px;
    z-index: 99999;
background-color: white;
border-radius: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}
.card2{
    margin-top: -150px;
    z-index: 99999;
background-color: white;
border-radius: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}
.card3{
    margin-top: -150px;

background-color: white;

}
.card-radius{
    border-radius: 15px;
}
/* section shedule end */

/* section personal care start */
   .bg-color{
    background-color: #e12454;
    padding-right: 70px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
   }
#personal .heading{
    color: var(--blue-color);
}
.paragraph-color{
    color: var(--grey-color);
}

/* section personal care end */

/* section information start */



 .bgc-image{
    background-image:url("../imgs/bg-4.jpg");
    width: 100%;
 }


.backg-color{
    background-color: var(--blue-color);
    opacity: 90%;
}
            

    


#personal-info .personal-info-hea{
    font-size: 80px;
    font-weight: bold;
}
#personal-info .personal-info-par{
    color: rgba(239, 236, 236, 0.936);
}

.personal-ico{
    color: var(--grey-color);
    opacity: 15%;
    position: absolute;
    left: 49px;
    top: -10px;
}

/* section information end *


/* section information start  */

#awards .heading-color{
    color: var(--blue-color);
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 40px;
}

.dividers{
    width: 50px;
    height: 5px;
    background-color: red;
    margin-left: calc(50% - 25px);
}

/* section awards start  */
.bg-color{
    background-color: #f4f9fc;
}
#awards .awards-p{
    color: var(--grey-color);
}
.awards-icons{
    font-size: 70px;
}
.grey-color{
    color: var(--grey-color);

}
.blue-color{
    color: var(--blue-color);
}
.blue-bcolor{
    background-color: var(--blue-color);
}
#awards .icon-color{
    color: #e12454;
}
.appoint-img{
    width: 450px;
    
}
.form-select , .form-control{
    border-radius: 0px;
}
.appoint-btn{
    background: var(--blue-color);
}
.appoint-phone {
    position: absolute;
    left: 95px;
    top: 503px;
    width: 40%;
    font-size: 36px;
    font-weight: 800;
}




