:root{
    --blue-color: rgb(34, 58, 102);
    
}
.topbar{
    background-color: var(--blue-color);
}

.call{
    text-align: center;
}
.fs-7{
    font-size: 14px;
}
.nav-item:hover .nav-item {

}
.mt-7{
    margin-top: 70px;
}
.py-8{
    padding: 70px 0px;
}
.mb-6{
    margin-bottom: 40px;
}
.fs-00{
font-size: 60px;
}
#hero{  background-image: url("../imgs/slider-bg-1.jpg");
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;}
   
.divider{
    width: 50px;
    height: 5px;
    background-color: red;
}
#hero .text-color{
    color: #6F8BA4;
    letter-spacing: 2px;
    font-size: 18px;
}
#hero .first-heading{
    color: var(--blue-color);
}
#hero .paragraph-color{
        color: #6F8BA4;
        font-size: 17px;

}
.hero-btn{
    background-color: #e12454;
}

/*  section hero end */


/* section shedule start */

.shedule-btn{
    background-color: var(--blue-colors);
}









